@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Italic'),
    local('PlusJakartaSans-Italic'),
    url('/fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans ExtraLight Italic'),
    local('PlusJakartaSans-ExtraLightItalic'),
    url('/fonts/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Bold Italic'),
    local('PlusJakartaSans-BoldItalic'),
    url('/fonts/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-BoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Medium Italic'),
    local('PlusJakartaSans-MediumItalic'),
    url('/fonts/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans SemiBold Italic'),
    local('PlusJakartaSans-SemiBoldItalic'),
    url('/fonts/PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Light Italic'),
    local('PlusJakartaSans-LightItalic'),
    url('/fonts/PlusJakartaSans-LightItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans ExtraBold'),
    local('PlusJakartaSans-ExtraBold'),
    url('/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans ExtraBold Italic'),
    local('PlusJakartaSans-ExtraBoldItalic'),
    url('/fonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans ExtraLight'),
    local('PlusJakartaSans-ExtraLight'),
    url('/fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Light'),
    local('PlusJakartaSans-Light'),
    url('/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Regular'),
    local('PlusJakartaSans-Regular'),
    url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans SemiBold'),
    local('PlusJakartaSans-SemiBold'),
    url('/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Bold'),
    local('PlusJakartaSans-Bold'),
    url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans Medium'),
    local('PlusJakartaSans-Medium'),
    url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('/fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
